PORT=9000
MONGO_URI=
JWT_SECRET=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_MOBILE=

DELIVERY_EMAIL=
DELIVERY_PASSWORD=
DELIVERY_MOBILE=

CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =

EMAIL=
PASS=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

RESEND_API_KEY=
EMAIL_FROM=

NODE_ENV=
CLIENT_URL=